# Variable Assignment
This is **bold**

In [1]:
Travel_Month = "January"

In [2]:
Travel_Month

'January'

In [3]:
Travel_Month = "December"

In [4]:
Travel_Month

'December'

In [6]:
number_of_weeks = None

In [7]:
number_of_weeks

In [9]:
number_of_weeks = 2

In [16]:
print ("I'll be out of office for "+ str( number_of_weeks ) + " weeks "+ Travel_Month)

I'll be out of office for 2 weeks December

In [13]:
print (" In " + Travel_Month + " we are travelling for "+ str(number_of_weeks) + "weeks")

 In December we are travelling for 2weeks

In [20]:
print ("I'll be out of office for {weeks} weeks in {Month}". format (weeks = str(number_of_weeks), Month=Travel_Month))

I'll be out of office for 2 weeks in December

In [21]:
print(f"I'll be out of office for {str(number_of_weeks)} weeks in {Travel_Month}")

I'll be out of office for 2 weeks in December

# control_flow_lab

In [1]:
number_50 = 50

my_number = None

if number_50 > 100:

   # if number_50 is greater than 100, assign the `my_number` variable to the number 100
    my_number=100

elif number_50 > 50:

   # if number_50 is greater than 50, assign the `my_number` variable to the number 50
    my_number=50

else:

   # else assign the `my_number` variable to 0
    my_number=0

In [2]:
my_number

0

In [9]:
number_50 = 120

my_number = None

if number_50 > 100:

   # if number_50 is greater than 100, assign the `my_number` variable to the number 100
    my_number=100

elif number_50 > 50:

   # if number_50 is greater than 50, assign the `my_number` variable to the number 50
    my_number=50

else:

   # else assign the `my_number` variable to 0
    my_number=0

In [10]:
my_number

100

In [11]:
number_50 = 70

my_number = None

if number_50 > 100:

   # if number_50 is greater than 100, assign the `my_number` variable to the number 100
    my_number=100

elif number_50 > 50:

   # if number_50 is greater than 50, assign the `my_number` variable to the number 50
    my_number=50

else:

   # else assign the `my_number` variable to 0
    my_number=0

In [13]:
my_number

50